// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

@variable-color: #061B47;
@color2: #042F50;
@color3: #0A0A59;

body {
	background: #9CBEFC;
h1 {
	font-size: 30px;
	color: @variable-color;
}
h2 {
	font-size: 24px;
	color: @variable-color;
}
h3 {
	font-size: 20px;
	color: @color3;
}

header {
    width: 100%;
	display: flex;
	@media (max-width: 500px) {
			justify-content: center;
			align-content: center;
		}
}

header nav {
    margin-top: 40px; 
    width: 610px;
    justify-content: space-between;
	display: flex;
	@media (max-width: 500px) {
		width: 100%;
		margin: 0;
	}
}

header nav a {
    text-decoration: none;
	color: @variable-color;
	@media (max-width: 500px) {
		width: 100%;
		display: flex;
		text-align: center;
		padding: 20px;
		font-size: 20px;
	}
}

header nav a:hover {
	color: #D9C6D7;
}
.mixin1 {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: flex-start;
}
.mixin2 {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	align-items: flex-start;
}
.Rtitle {
	.mixin1();
}
.Intro {
	.mixin1();
	color: @variable-color;
	.ip {
	margin-top: 20px;
	}
}
.Skills {
	.mixin1();
	color: @variable-color;
	.sp {
	margin-top: 20px;
	}
}
.WH {
	.mixin1();
	.lw {
		.mixin2();
		.b{
			color: @color2;
			margin-top: 5px;
		}
	}
}
.Contact {
	.mixin1();
}

}